<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itedus.lottery.infrastructure.dao.IStrategyDetailDao">

    <select id="queryStrategyDetailList" parameterType="java.lang.Long" resultType="cn.itedus.lottery.infrastructure.po.StrategyDetail">
        SELECT id, strategyId, awardId, awardCount, awardRate, createTime, updateTime
        FROM strategy_detail
        WHERE strategyId = #{strategyId}
    </select>

</mapper>
